In [1]:
import pandas as pd

In [2]:
# To read a CSV or txt file we can use read_csv method of pandas
df = pd.read_csv('breast.csv')

In [3]:
# To see only a top few rows we can use df.head()
df.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [11]:
# This txt file have all columns and rows seperated via a space and not by comma
# By default in read_csv seperator is ','
df_t = pd.read_csv('breast.txt', sep=' ')

In [12]:
df_t.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr.,Doe
1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr.,Smith
1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr.,Lee
1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr.,Smith
1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr.,Wong

In [6]:
# To read a html file in pandas
# For this we need to install html5lib
import html5lib

list_of_dfs = pd.read_html('https://en.wikipedia.org/wiki/States_and_union_territories_of_India')

In [7]:
# This will be a list of pandas dataframes, manually check and get the index of any format required
list_of_dfs

[  States and union territories of India  \
 0                              Category
 1                              Location
 2                                Number
 3                           Populations
 4                                 Areas
 5                            Government
 6                          Subdivisions

              States and union territories of India.1
 0                                   Federated states
 1                                  Republic of India
 2                       28 States8 Union territories
 3  States: Sikkim - 610,577 (lowest); Uttar Prade...
 4  States: 3,702 km2 (1,429 sq mi) Goa – 342,269 ...
 5  State governments, Union government (Union ter...
 6                               Districts, Divisions  ,
                                                                                                                                                                                                                    India
   Constitution and law Constitutional amendment Basic structure doctrine Fundamental rights Human rights ——————— Code of Civil Procedure Uniform civil code Code of Criminal Procedure Indian Penal Code Law enforcement
 0  Government of India President (Head of state) ...
 1  ElectionsElection commission: Chief election c...
 2  Federalism Administrative divisions States and...
 3                                    Other countries
 4                                                vte                                                                                                                                                                    ,
     States and union territories of India ordered by
 0  Area Population GDP (per capita) Abbreviations...
 1                                                vte,
                 State ISO 3166-2:IN Vehiclecode           Zone  \
 0      Andhra Pradesh         IN-AP          AP       Southern
 1   Arunachal Pradesh         IN-AR          AR  North-Eastern
 2               Assam         IN-AS          AS  North-Eastern
 3               Bihar         IN-BR          BR        Eastern
 4        Chhattisgarh         IN-CT          CG        Central
 5                 Goa         IN-GA          GA        Western
 6             Gujarat         IN-GJ          GJ        Western
 7             Haryana         IN-HR          HR       Northern
 8    Himachal Pradesh         IN-HP          HP       Northern
 9           Jharkhand         IN-JH          JH        Eastern
 10          Karnataka         IN-KA          KA       Southern
 11             Kerala         IN-KL          KL       Southern
 12     Madhya Pradesh         IN-MP          MP        Central
 13        Maharashtra         IN-MH          MH        Western
 14            Manipur         IN-MN          MN  North-Eastern
 15          Meghalaya         IN-ML          ML  North-Eastern
 16            Mizoram         IN-MZ          MZ  North-Eastern
 17           Nagaland         IN-NL          NL  North-Eastern
 18             Odisha         IN-OR          OD        Eastern
 19             Punjab         IN-PB          PB       Northern
 20          Rajasthan         IN-RJ          RJ       Northern
 21             Sikkim         IN-SK          SK  North-Eastern
 22         Tamil Nadu         IN-TN          TN       Southern
 23          Telangana         IN-TG          TS       Southern
 24            Tripura         IN-TR          TR  North-Eastern
 25      Uttar Pradesh         IN-UP          UP       Northern
 26        Uttarakhand         IN-UT          UK       Northern
 27        West Bengal         IN-WB          WB        Eastern

                                               Capital     Largest city  \
 0   Hyderabad (de jure)Amaravati (de facto) Note 1...    Visakhapatnam
 1                                            Itanagar         Itanagar
 2                                              Dispur         Guwahati
 3                                               Patna            Patna
 4                                         Naya Raipur           Raipur
 5                                              Panaji    Vasco da Gama
 6                                         Gandhinagar        Ahmedabad
 7                                          Chandigarh        Faridabad
 8             Shimla (Summer)Dharamshala (Winter)[46]           Shimla
 9                                              Ranchi       Jamshedpur
 10                                          Bangalore        Bangalore
 11                                 Thiruvananthapuram            Kochi
 12                                             Bhopal           Indore
 13                 Mumbai (Summer)Nagpur (Winter)[49]           Mumbai
 14                                             Imphal           Imphal
 15                                           Shillong         Shillong
 16                                             Aizawl           Aizawl
 17                                             Kohima          Dimapur
 18                                        Bhubaneswar      Bhubaneswar
 19                                         Chandigarh         Ludhiana
 20                                             Jaipur           Jaipur
 21                                            Gangtok          Gangtok
 22                                            Chennai          Chennai
 23                                    HyderabadNote 1  HyderabadNote 1
 24                                           Agartala         Agartala
 25                                            Lucknow           Kanpur
 26             Gairsain (Summer)Dehradun (Winter)[52]         Dehradun
 27                                            Kolkata          Kolkata

            Statehood  Population[40]    Area(km2)       Officiallanguages[41]  \
 0    1 November 1956        49506799       160205                      Telugu
 1   20 February 1987         1383727        83743                     English
 2    26 January 1950        31205576        78550                    Assamese
 3    26 January 1950       104099452        94163                       Hindi
 4    1 November 2000        25545198       135194                       Hindi
 5        30 May 1987         1458545         3702                     Konkani
 6         1 May 1960        60439692       196024                    Gujarati
 7    1 November 1966        25351462        44212                       Hindi
 8    25 January 1971         6864602        55673                       Hindi
 9   15 November 2000        32988134        74677                       Hindi
 10   1 November 1956        61095297       191791                     Kannada
 11   1 November 1956        33406061        38863                   Malayalam
 12   1 November 1956        72626809       308252                       Hindi
 13        1 May 1960       112374333       307713                     Marathi
 14   21 January 1972         2855794        22347                      Meitei
 15   21 January 1972         2966889        22720                     English
 16  20 February 1987         1097206        21081        English, Hindi, Mizo
 17   1 December 1963         1978502        16579                     English
 18   26 January 1950        41974218       155820                        Odia
 19   1 November 1966        27743338        50362                     Punjabi
 20   1 November 1956        68548437       342269                       Hindi
 21       16 May 1975          610577         7096             English, Nepali
 22   1 November 1956        72147030       130058                       Tamil
 23       2 June 2014  35,193,978[50]  114,840[50]            Telugu, Urdu[51]
 24   21 January 1972         3673917        10492  Bengali, English, Kokborok
 25   26 January 1950       199812341       243286                       Hindi
 26   9 November 2000        10086292        53483                       Hindi
 27   26 January 1950        91276115        88752          Bengali, Nepali[b]

                      Additional officiallanguages[41]
 0                                                   —
 1                                                   —
 2                                       Bengali, Bodo
 3                                                Urdu
 4                                                   —
 5                                    English, Marathi
 6                                                   —
 7                                     Punjabi[44][45]
 8                                        Sanskrit[47]
 9                                            Urdu[48]
 10                                            English
 11                                            English
 12                                                  —
 13                                                  —
 14                                            English
 15                                           Khasi[a]
 16                                                  —
 17                                                  —
 18                                                  —
 19                                                  —
 20                                            English
 21  Bhutia, Gurung, Lepcha, Limbu, Manggar, Mukhia...
 22                                            English
 23                                                  —
 24                                                  —
 25                                               Urdu
 26                                       Sanskrit[53]
 27                Hindi, Odia, Punjabi, Santali, Urdu  ,
                             Union territory ISO 3166-2:IN Vehicle code  \
 0               Andaman and Nicobar Islands         IN-AN           AN
 1                                Chandigarh         IN-CH           CH
 2  Dadra and Nagar Haveli and Daman and Diu         IN-DD           DD
 3                                     Delhi         IN-DL           DL
 4                         Jammu and Kashmir         IN-JK           JK
 5                                    Ladakh         IN-LA           LA
 6                               Lakshadweep         IN-LD           LD
 7                                Puducherry         IN-PY           PY

                            Capital Largest city  Population[40]  \
 0                       Port Blair   Port Blair          380581
 1                       Chandigarh         —[c]         1055450
 2                            Daman        Daman          586956
 3                        New Delhi         —[d]        16787941
 4  Srinagar (Summer)Jammu (Winter)     Srinagar        12258433
 5  Leh (Summer)Kargil (Winter)[59]          Leh          290492
 6                        Kavaratti    Kavaratti           64473
 7                      Pondicherry  Pondicherry         1247953

        Area(km2)     Officiallanguages[41]   Additional officiallanguages[41]
 0           8249            English, Hindi  Bengali, Tamil, Telugu, Malayalam
 1            114   English, Hindi, Punjabi                                  —
 2            603  English, Gujarati, Hindi                   Konkani, Marathi
 3           1490            English, Hindi                  Punjabi, Urdu[58]
 4   55,538Note 3             English, Urdu                    Dogri, Kashmiri
 5  174,852Note 4          English, Ladakhi                                  —
 6             32        English, Malayalam                                  —
 7            492        English,[60] Tamil                  Telugu, Malayalam  ,
     Map                                 State  \
 0   NaN                         Madhya Bharat
 1   NaN                  Eastern States Union
 2   NaN                           East Punjab
 3   NaN                          Madras State
 4   NaN                          Mysore State
 5   NaN  Patiala and East Punjab States Union
 6   NaN                          Bombay State
 7   NaN                          Bhopal State
 8   NaN                            Saurashtra
 9   NaN                           Coorg State
 10  NaN                     Travancore-Cochin
 11  NaN                       Hyderabad State
 12  NaN                       Vindhya Pradesh
 13  NaN                           Kutch State
 14  NaN                        Bilaspur State
 15  NaN                           Ajmer State
 16  NaN                          Andhra State
 17  NaN                     Jammu and Kashmir

                                      Capital      Years  \
 0            Indore (Summer)Gwalior (Winter)  1948–1956
 1                                     Raipur  1947–1948
 2   Shimla (1947–1953)Chandigarh (1953–1966)  1947–1966
 3                                     Madras  1950–1969
 4                                     Mysore  1947–1973
 5                                    Patiala  1948–1956
 6                                     Bombay  1950–1960
 7                                     Bhopal  1949–1956
 8                                     Rajkot  1948–1956
 9                                   Madikeri  1950–1956
 10                                Trivandrum  1949–1956
 11                                 Hyderabad  1948–1956
 12                                      Rewa  1948–1956
 13                                      Bhuj  1947–1956
 14                                  Bilaspur  1950–1954
 15                                     Ajmer  1950–1956
 16                                   Kurnool  1953–1956
 17           Srinagar (Summer)Jammu (Winter)  1954–2019

                                    Successor state(s)
 0                                      Madhya Pradesh
 1                       Bihar, Odisha, Madhya Pradesh
 2                         Punjab, Haryana, Chandigarh
 3    Andhra Pradesh, Tamil Nadu, Kerala and Karnataka
 4                                           Karnataka
 5                                              Punjab
 6                                Maharashtra, Gujarat
 7                                      Madhya Pradesh
 8                                        Bombay State
 9                                        Mysore State
 10                               Kerala, Madras State
 11  Andhra Pradesh, Telangana (since 2014) and par...
 12                                     Madhya Pradesh
 13                                       Bombay State
 14                                   Himachal Pradesh
 15                                          Rajasthan
 16                       Andhra Pradesh and Telangana
 17     Jammu and Kashmir (union territory) and Ladakh  ,
            vte States and union territories of India  \
 0                                             States
 1                                  Union territories
 2  Capitals in India Proposed states and union te...

          vte States and union territories of India.1
 0  Arunachal Pradesh Andhra Pradesh Assam Bihar C...
 1  Andaman and Nicobar Islands Chandigarh Dadra a...
 2  Capitals in India Proposed states and union te...  ,
      vteGeography of India                            vteGeography of India.1
 0                  Geology  Fossil Parks Geology of India Indian Plate Stones
 1                Landforms  Beaches Canals Desert Extreme points Glaciers ...
 2                  Regions  North India Northeast India East India South I...
 3             Subdivisions  States and territories Autonomous areas Divisi...
 4  Environment and climate  Biogeographic classification Ecoregions Fauna ...,
   vteArticles on first-level administrative divisions of Asian countries  \
 0                                   Sovereign states
 1                     States withlimited recognition
 2                                                NaN
 3          1Country spanning more than one continent
 4  See also List of administrative divisions by c...

   vteArticles on first-level administrative divisions of Asian countries.1
 0  Afghanistan Armenia Azerbaijan1 Bahrain Bangla...
 1                     Artsakh Northern Cyprus Taiwan
 2                                                NaN
 3          1Country spanning more than one continent
 4  See also List of administrative divisions by c...                        ]

In [9]:
# Here we are trying to get the table from the html page
list_of_dfs[3]

,State,ISO 3166-2:IN,Vehiclecode,Zone,Capital,Largest city,Statehood,Population[40],Area(km2),Officiallanguages[41],Additional officiallanguages[41]
0,Andhra Pradesh,IN-AP,AP,Southern,Hyderabad (de jure)Amaravati (de facto) Note 1...,Visakhapatnam,1 November 1956,49506799,160205,Telugu,—
1,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,Itanagar,20 February 1987,1383727,83743,English,—
2,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78550,Assamese,"Bengali, Bodo"
3,Bihar,IN-BR,BR,Eastern,Patna,Patna,26 January 1950,104099452,94163,Hindi,Urdu
4,Chhattisgarh,IN-CT,CG,Central,Naya Raipur,Raipur,1 November 2000,25545198,135194,Hindi,—
5,Goa,IN-GA,GA,Western,Panaji,Vasco da Gama,30 May 1987,1458545,3702,Konkani,"English, Marathi"
6,Gujarat,IN-GJ,GJ,Western,Gandhinagar,Ahmedabad,1 May 1960,60439692,196024,Gujarati,—
7,Haryana,IN-HR,HR,Northern,Chandigarh,Faridabad,1 November 1966,25351462,44212,Hindi,Punjabi[44][45]
8,Himachal Pradesh,IN-HP,HP,Northern,Shimla (Summer)Dharamshala (Winter)[46],Shimla,25 January 1971,6864602,55673,Hindi,Sanskrit[47]
9,Jharkhand,IN-JH,JH,Eastern,Ranchi,Jamshedpur,15 November 2000,32988134,74677,Hindi,Urdu[48]
10,Karnataka,IN-KA,KA,Southern,Bangalore,Bangalore,1 November 1956,61095297,191791,Kannada,English
11,Kerala,IN-KL,KL,Southern,Thiruvananthapuram,Kochi,1 November 1956,33406061,38863,Malayalam,English
12,Madhya Pradesh,IN-MP,MP,Central,Bhopal,Indore,1 November 1956,72626809,308252,Hindi,—
13,Maharashtra,IN-MH,MH,Western,Mumbai (Summer)Nagpur (Winter)[49],Mumbai,1 May 1960,112374333,307713,Marathi,—
14,Manipur,IN-MN,MN,North-Eastern,Imphal,Imphal,21 January 1972,2855794,22347,Meitei,English
15,Meghalaya,IN-ML,ML,North-Eastern,Shillong,Shillong,21 January 1972,2966889,22720,English,Khasi[a]
16,Mizoram,IN-MZ,MZ,North-Eastern,Aizawl,Aizawl,20 February 1987,1097206,21081,"English, Hindi, Mizo",—
17,Nagaland,IN-NL,NL,North-Eastern,Kohima,Dimapur,1 December 1963,1978502,16579,English,—
18,Odisha,IN-OR,OD,Eastern,Bhubaneswar,Bhubaneswar,26 January 1950,41974218,155820,Odia,—
19,Punjab,IN-PB,PB,Northern,Chandigarh,Ludhiana,1 November 1966,27743338,50362,Punjabi,—
20,Rajasthan,IN-RJ,RJ,Northern,Jaipur,Jaipur,1 November 1956,68548437,342269,Hindi,English
21,Sikkim,IN-SK,SK,North-Eastern,Gangtok,Gangtok,16 May 1975,610577,7096,"English, Nepali","Bhutia, Gurung, Lepcha, Limbu, Manggar, Mukhia..."
22,Tamil Nadu,IN-TN,TN,Southern,Chennai,Chennai,1 November 1956,72147030,130058,Tamil,English
23,Telangana,IN-TG,TS,Southern,HyderabadNote 1,HyderabadNote 1,2 June 2014,"35,193,978[50]","114,840[50]","Telugu, Urdu[51]",—
24,Tripura,IN-TR,TR,North-Eastern,Agartala,Agartala,21 January 1972,3673917,10492,"Bengali, English, Kokborok",—
25,Uttar Pradesh,IN-UP,UP,Northern,Lucknow,Kanpur,26 January 1950,199812341,243286,Hindi,Urdu
26,Uttarakhand,IN-UT,UK,Northern,Gairsain (Summer)Dehradun (Winter)[52],Dehradun,9 November 2000,10086292,53483,Hindi,Sanskrit[53]
27,West Bengal,IN-WB,WB,Eastern,Kolkata,Kolkata,26 January 1950,91276115,88752,"Bengali, Nepali[b]","Hindi, Odia, Punjabi, Santali, Urdu"